.hero-container {
    display: block;
    position: relative; 
    overflow: hidden;
    width: 100vw;
    white-space: nowrap;
    background-color: black;
    box-shadow: 2px 4px 10px 2px black;

    .hero {
        position: relative;
        height: inherit;
        max-width: 980px;
        margin: 0 auto;

        .new-movie-title {
            position: absolute;
            color: white;
            display: inline-block;
            font-size: 80px;
            transform: translate(80px, 30px);
            max-width: 895px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }

        button {
            position: absolute;
            left: 80px;
            font-size: 20px;
            padding: 5px 10px;
            background-color: orange;
            border: none;
            color: white;
            text-transform: capitalize;
            transition-duration: 300ms;
            .link {
                color: white;
                font-size: 20px;
            }
            &:hover {
                transform: scale(1.15);
            }
            &:nth-of-type(1) {
                bottom: 70px;
            }
            &:nth-of-type(2) {
                bottom: 20px;
            }
        }
        
        img {
            width: 100%;
        }
    }
}

.nav{
    // position: absolute;
    // display: block;
    overflow: visible;
    height: 0;
}