.tv-home-container{
    padding: 20px;

    .tv-home-card{
        display: inline-block;
        margin: 5px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 5px;
        width: 40%;
        overflow: hidden;
        height: 280px;
        box-shadow: 0 0 10px 0 black;
        border-radius: 5px;

        .tv-home-img{
            float: left;
            transform: scale(1.05);
            width: 185px;

            &::after{
                content: ' ';
                clear: both;
                display: block;
            }
        }

        .tv-home-content{
            position: relative;
            overflow: hidden;
            height: 100%;
            padding: 10px 5px 0 20px;

            .tv-home-header{
                .tv-home-main-header{
                    display: block;

                    .tv-home-main-title{
                        font-size: 19px;
                        font-weight: 900;

                        &:nth-of-type(2){
                            float: right;
                        }
                    }
                }

                .tv-home-sub-header{
                    padding: 5px 0;
                    color: grey;
                }
            }

            .tv-home-main{
                top: 0;
                padding-top: 10px;
                overflow: hidden;
                height: 162px;
            }

            .tv-home-more-info{
                border-top: 1px solid lightgrey;
                bottom: 5px;
                color: orange;
                font-weight: 600;
                height: 50px;
                line-height: 45px;
                position: absolute;
                text-align: center;
                text-transform: capitalize;
                width: 90%;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}