// hero section

.hero-container,
.popular,
.current{
	height: 330px;
}

.hero-container{
	// background-color: red;
}

.popular{
	display: block;
	width: 100vw;
	overflow-y: hidden;
	overflow-x: auto;

	h1{
		text-transform: capitalize;
		text-decoration: underline;
		padding: 5px;
	}

	.img-test-container{
		width: 100vw;
		height: 100%;
		white-space: nowrap;
		overflow-x: none;
		overflow-y: scroll;

		img{
			margin: 5px;
			margin-right: 20px;
			border: 2px solid black;
			border-radius: 5px;
		}
	}

}