// global nav 

.navbar{
	display: flex;
	position: fixed;
	background-color: rgba(0,0,0,.9);
	width: 100vw;
	color: white;
	height: 60px;
	z-index: 1;
}

.nav-logo-container,
.nav-container,
.search-container{
	flex: 1 1 0;
}

// logo
.nav-logo-container{
	display: inline-block;
	width: 250px;

	div{
		height: 100%;
	}

	.logo-container{
		height: 100%;
		width: 80px;
		box-sizing: border-box;
		float: left;
		span{
			position: absolute;
			color: orange;
			border: 2px solid orange;
			border-radius: 5px;
			padding: 5px;
			height: 20px;
			top: 50%;
			transform: translate(10px, -50%);
		}
	}

	aside{
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	span{
		height: calc(100% / 2);
		display: flex;
		font-size: 20px;

		&:nth-of-type(1){
			align-items: flex-end;
		}

		&:nth-of-type(2){
			align-items: flex-start;
		}
	}
}

// nav links
.nav-container{
	display: flex;
	align-items: center;

	div{
		width: 100%;

		ul{
			display: flex;
			height: 100%;

			li{
				flex: 1 1 0;
				text-align: center;
				align-items: center;
				transition-duration: 300ms;

				&:hover{
					transform: scale(1.4);
					transition-duration: 300ms;
				}


				a{
					color: #fff;
					text-transform: capitalize;
					font-size: 18px;


					&:hover{
						transition-duration: 300ms;
						color: orange;
					}
				}
			}
		}
	}

}

// search
.search-container{
	display: flex;
	align-items: center;
	flex-direction: row-reverse;

	input{
		margin-right: 40px;
		text-indent: 5px;
	    color: #000;
	    background-color: transparent;
	    border: 3px solid orange;
	    height: 20px;
	    width: 20px;
	    border-radius: 50%;
	    transition-duration: .2s;

	    &:focus{
	    	outline: none;
	    }

	    &:hover{
	    	cursor: pointer;
	    }
	}

    &::after{
		content: ' ';
		display: inline-block;
		position: relative;
		width: 3px;
		left: 27px;
		top: 13px;
		height: 10px;
		transform: rotate(-45deg);
		background: orange;
		transition-duration: .07s;
    }

    &[open]{
    	input{
    		width: 170px;
    		border-radius: 5px;
    		color: #fff;
    	}

    	&::after{
    		opacity: 0;
    	}
    }

}
